@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #000;
  margin-left: 5rem;
  /* margin-right: 10rem; */
  margin-top: 0.5rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  margin-left: 1rem;
}

.navbar-logo img {
  width: 106.18px;
  height: 34.41px;
  margin-right: 2rem; 
}
.navbar-links {
  display: flex;
  gap: 1.5rem; 
  flex-grow: 1;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}
.navbar-links a.active{
  color:#FF5555
}
.navbar-download {
  margin-right: 7rem; 
}
.navbar-download .download-btn {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1.0rem 2.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  width: 490px;
}

.navbar-download .download-btn:hover {
  background-color: #484646;
}
/* .star-image{
  margin-left: 2rem;
  margin-top: 0.9rem;
} */

.star-image {
  position: relative;
  z-index: 10; /* Ensure the star image is above other elements */
}
.e1{
  position: absolute;
  top: 92%; 
  right: 0; 
  transform: translate(0, -50%);
}
.frame1 {
  position: absolute;
  top: 70%; 
  right: 0; 
  transform: translate(0, -50%);
}
.frame2{
  position: absolute;
  top: 55%; 
  right: 0; 
  transform: translate(-51%, -50%);
}
.frame3{
  position: absolute;
  top: 55%; 
  right: 0; 
  transform: translate(-60%, -50%);
}
.frame4{
  position: absolute;
  top: 55%; 
  right: 0; 
  transform: translate(-28%, -50%);
}
.text{
  margin-top: 5rem;
  margin-left:9rem ;
}
.img2{
  margin-top: 50px;
}
.text1 {
  font-family: 'Roboto', sans-serif;
  font-size: 70px; 
  font-weight: bold;
  line-height: 1.1; 
  margin-bottom: 5px;
}

.text2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; 
  line-height: 1.1; 
  color: #666; 
}
.watch {
  position: absolute;
  top: 70%; 
  right: 0; 
  transform: translate(-950%, -500%) scale(1.24);
  margin-right: 30px;

}
.start{
  background-color: #000000;
  color: #FFFFFF;
  padding: 1.0rem 2.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  width:auto;
  margin-top: 19px;
}